.table .thead th {
  background-color: var(--primary);
  color: white;
}

.menu-nav {
  background-color: rgba(255,255,255,0.05);
  color: #a2a3b7;
}

.menu-logo a {
  color: white;
}

.menu-li a {
  color: #a2a3b7;
}

.menu-li a .icon,
.menu-li.active a .icon,
.menu-li:hover a,
.menu-li:hover a .icon {
  color: white;
}

.menu-li.active a {
  color: white;
  background-color: #23325D;
}

a.algocloud-navbar-brand{
  color:#F8F8F8!important;
}

.bg-box {
  background:#1E2D58;
  background: rgba(255,255,255,.05);
  box-shadow: 0px 0px 50px 14px rgb(18 28 53 / 25%);
}

.menu-toggle-button {
  color: rgba(255,255,255,.3) !important
}

.i18n-select select {
  background: none !important;
  color: #ffffff !important;
  border-color: rgba(255,255,255,.5) !important;
}

.i18n-select select option {
  background: #1D294F !important;
}