.screenshot:before{ 
background-color: rgba(0,0,0,0.0) !important;
}

.screenshot-2 {
    background-color: rgba(0, 0, 0, 0.6);
    border-width: 1px;
    border-color: rgb(109, 109, 117);
    box-shadow: rgb(102 102 102 / 20%) 0px 10px 50px, rgb(102 102 102 / 20%) -10px -10px 50px;
    background-color: rgba(0, 0, 0, 0.6);
}

button.btn.btn-primary.btn-block:hover {
    border-style: solid;
    border-width: 1px;
    border-color: #03dac5;
    color: #000;
    padding: 10px;
    background-color: #03dac5;
    outline-color: #5ffcff
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show>.btn-primary.dropdown-toggle {
    color: #000 !important;
    background-color: #03dac5c2 !important;
    border-color: #000;
    font-weight: bold !important;
    outline-color: #03dac5;
}

button.btn.btn-primary.btn-block {
    border-style: solid;
    border-width: 1px;
    border-color: #03dac5;
    padding: 10px;
    background-color: #000;
    outline-style: solid;
    outline-offset: 3px;
    outline-width: 1px;
    outline-color: rgb(3 218 197 / 39%);
}

.form-control:focus {
    color: #ffffff;
    background-color: #000000;
    border-color: #03dac5;
    border-width: 1px;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(6 30 51 / 25%);
}

.form-control:hover {
    border-width: 1px;
    border-color: #03dac5;
}

.form-control {
    background-color: rgb(3 218 197 / 4%);
    height: 2.6rem;
}

.navbar-brand {
    display: flex !important;
    align-items: center !important;
}

svg.svg-logo {
    width: 60px;
}

h1.logo-font {
    color: #ffffff;
    font-weight: 500!important;
    font-family: "Libre Franklin","Arial",Arial,sans-serif!important;
    font-size: calc(2.425rem + .4vw)!important;
}

.hero-video {
    filter: hue-rotate(7deg) !important;
        /* Set rules to fill background */
        min-height: 100%;
        min-width: 1024px;
          
        /* Set up proportionate scaling */
        width: 100%;
        height: auto;
          
        /* Set up positioning */
        position: fixed;
        top: 0;
        left: 0;
      }
      
      @media screen and (max-width: 1000px) { /* Specific to this particular image */
        .hero-video {
          left: 50%;
          margin-left: -512px;   /* 50% */
          width: auto;
        }
      }

      body {
        background-color: #030d23;
      }